/sg500/Teszt/PictureSplitter/nbproject/private/
/sg500/Teszt/PictureSplitter/build/
/sg500/Teszt/PictureSplitter/dist/
/sg500/Teszt/JigsawImage/nbproject/private/
/sg500/Feladat_3/NetBeans_Feladat3/nbproject/private/
/sg500/Feladat_3/NetBeans_Feladat3/build/
/sg500/Feladat_3/NetBeans_Feladat3/dist/
/sg500/Feladat_3/Feladat_3_JAVA/nbproject/private/
/sg500/Feladat_3/Feladat_3_JAVA/build/
/sg500/Feladat_3/Feladat_3_JAVA/dist/